<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Crowd Chat - CC</title>

    <!-- Custom fonts for this theme -->
    <link
      href="vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"
    />
    <link
      rel="mask-icon"
      type=""
      href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg"
      color="#111"
    />
    <link
      rel="canonical"
      href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300"
      rel="stylesheet"
      type="text/css"
    />

    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>
      try {
        Typekit.load({ async: true });
      } catch (e) {}
    </script>
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link
      rel="stylesheet prefetch"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="css/style.css" />

    <!-- JQUERY -->
    <script src="js/jquery-2.2.1.js"></script>
  </head>

  <body>
    <div id="frame">
      <div id="sidepanel">
        <div class="contacts">
          <ul>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status online"></span>
                <div class="meta" id="participantes">
                  <p class="name" id="pessoas"></p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="bottom-bar">
          <button id="addcontact">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
            <span>Adicionar Contato</span>
          </button>
          <button id="settings">
            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
            <span>Settings</span>
          </button>
        </div>
      </div>
      <div class="content">
        <div class="contact-profile" id="participantes">
          <p class="name" id="pessoas"></p>
        </div>
        <div class="messages" id="conversa">
          <ul>
            <li class="sent" id="dialogos"></li>
          </ul>
        </div>
        <div class="message-input campo-mensagem">
          <div class="wrap">
            <input type="text" placeholder="Mensagem" id="mensagem" />
            <input type="hidden" value="<%=dadosForm.apelido%>" id="apelido" />
            <input type="hidden" value="0" id="updete_apelido_cli" />

            <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
            <button class="button" id="enviar_msg">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
      integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
      crossorigin="anonymous"
    ></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io("http://localhost");

      $("#enviar_msg").click(function() {
        socket.emit("msgServer", {
          apelido: $("#apelido").val(),
          mensagem: $("#mensagem").val(),
          updete_apelido_cli: $("#updete_apelido_cli").val()
        });

        $("#mensagem").val("");
        $("#updete_apelido_cli").val(1);
      });

      socket.on("msgUser", function(data) {
        var html = "";

        html += '<div class="dialogo">';
        html += "<h4>" + data.apelido + "</h4>";
        html += "<p>" + data.mensagem + "</p>";
        html += "</div>";

        $("#dialogos").append(html);

        window.scrollTo(0, document.body.scrollHeight);
      });

      socket.on("grupoParticipantes", function(data) {
        var html = "";

        html += '<span class="participante">';
        html += '<img src="img/chat.png">';
        html += data.apelido;
        html += "</span>";

        $("#pessoas").append(html);
      });
    </script>
  </body>
</html>
